
Screen {
  background: black;
  border: none;
  padding: 0;
  margin: 0;
}

#main-container {
    height: 100%;
    width: 100%;
    padding: 0 0 0 0;
}

#tux-widget {
    width: 60;
    padding: 1 2;
    margin: 1 0 0 0;
    border: round white;
    background: transparent;
    color: white;
}

#pacman-widget {
    min-width: 20;
    max-width: 20;
    padding: 1 2;
    margin: 1 0 0 0;
    border: none;
    background: transparent;
    color: white;
    overflow-y: auto;
}

#pacman-output {
    border: round white;
    background: transparent;
    color: white;
}

#pacman-button {
    border: round white;
    background: transparent;
    color: white;
    margin: 1 0;
}
